$color-text: white;
$color-text2:#FF9900;

@mixin button-style{ 
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Philosopher';
    text-align: end;
    position: relative;
    left: 83%;
    margin-top: 35px;
    margin-bottom: 120px;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px; 
        width: 100%;
        height: 5px; 
        background-color: rgb(255, 230, 0); 
    }
}

@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Philosopher';
    max-width: 100%;
}
.section_1{
    height: 100vh;
    background-image: url('../picture/banner\ 1.png');
    background-size: cover;
    background-position: center;
    &::before{
        content: '';
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    header{
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        // position: absolute;
        // z-index: 2;
        h1{
            font-size: 40px;
            font-weight: 400;
            color: $color-text;
            span{
                color: $color-text2;
            }
        }
        nav{
            display: flex;
            align-items: center;
        
            ul{
                list-style-type: none;
                display: flex;
                li{
                    margin-right: 15px;
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        color: $color-text;
                        text-decoration: none;
                        font-size: 24px;
                        font-weight: 400;
                    }
                }

            }  
        }
        button{
            background: none;
            border: none;
            color: $color-text2;
            font-size: 24px;
            font-weight: 700;
            font-family: 'Philosopher';
        }
    }
    .item1{
        height: 80%;
        max-width: 85%;
        margin: 0 auto;
        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1{
                color:$color-text;
                font-size: 80px;
                font-size: 400;
                span{
                    color:$color-text2;
                }
            }
            p{
                color:$color-text;
                font-size: 34px;
                font-weight: 400;
                span{
                    color: $color-text2;
                    display: block;
                    text-align: right; 
                }
            }
        }
    }
}
.section_2{
    background-color: rgb(254, 252, 234);
    height: 100%;
    h1{
        color: black;
        font-size: 40px;
        font-weight: 700;
        padding-top: 120px;
        padding-left: 140px;
        padding-bottom: 70px;
        span{
            color:$color-text2;
        }
    }
    h2{
        font-size: 24px;
        font-weight: 700;
        color:$color-text2;
        margin-bottom: 18px;
    }
    p{
        font-size: 18px;
        font-weight: 400;
    }
    .grid-box{
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 509px 487px 509px ;
        gap: 30px 60px;
        .img_2{
            grid-column: 1/2;
            width: ;
            p{
                margin-bottom: 28px;
                padding-right: 203px;
            }
        }
        .img_3{
            grid-column:2/3;
            grid-row:1/3;
            text-align: center;
            h2{
                padding-top: 15px;
            }
            p{
                margin-bottom: 39px;
                padding-left: 128px;
                padding-right: 105px;
            }
        }
        .img_4{
            grid-column: 3/4;
            grid-row: 1/2;
        }
        .img_5{
            p{
                margin-bottom: 34px;
                padding-right: 200px;
            }
        }

    }
    button{
        @include button-style;
        // background: none;
        // border: none;
        // font-size: 24px;
        // font-weight: 700;
        // font-family: 'Philosopher';
        // text-align: end;
        // position: relative;
        // left: 83%;
        // margin-top: 35px;
        // margin-bottom: 120px;
        // &::after{
        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     bottom: -5px; 
        //     width: 100%;
        //     height: 5px; 
        //     background-color: rgb(255, 230, 0); 
        // }
    }
}
.section_3{
    &::before, &::after{
        content: "";
        display: block;
        position: relative;
        left: 0;
        right: 0;
        height: 5px;
        background-color: rgb(255, 153, 0);
    }
    &::before{
        top: 29%;
    }
    &::after{
        bottom: 8%;
        z-index: -1;
    }
    width: 100%;
    height: 905px;
    .wrapper2{
        width: 85%;
        margin: 0 auto;
        padding-top: 120px;
        button{
            float: right;
        }
        h1{
            font-size: 40px;
            font-weight: 700;
            color: black;
            span{
                color: $color-text2;
            }
        }
        .flex-box2{
            display: flex;
            margin-top: 50px;
            justify-content: space-between;
            .img1{
                position: relative;
                display: inline-block;
                &::before{
                    content: '';
                    position: absolute;
                    top:0;
                    left:0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
            .text1{
                position: absolute;
                top: 60%;
                padding-left: 20px;
                h2{
                    font-size: 24px;
                    font-weight: 700;
                    color: white;
                    &::after{
                        content: "";
                        position: absolute; 
                        top:25%;
                        right: 64%;
                        width: 30%;
                        height: 5px; 
                        background-color: rgb(255, 230, 0); 
                    }
                }
                p{
                    font-size: 18px;
                    font-weight: 700;
                    color: white;
                    padding-top: 20px;
                    padding-right: 35px;
                }
            }
        }
    }
} 