*{
    box-sizing: border-box;
}
body{
    min-width: 390px;
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top:50px;
    padding-left:30px;
    padding-right: 30px;
}
.header .icons{
    border: none;
    background: none;
}
.shoppy-btn{
    background-color: black;
    border: none;
    width: 163px;
    height: 42px;
    margin-left: 40px;
}
.shoppy-btn h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.icons-btn{
    padding-top: 7px;
}
.icon-w{
    width: 21px;
}
.bag-w{
    width: 16px;
}
.shoes-1{
    width: 216.258px;
    height: 257.619px;
    transform: rotate(-3.165deg);
}
.shoes-2{
    width: 241.834px;
    height: 288.086px;
    margin-top: 102px;
}
.shoes-img{
    display: flex;
    margin-top: 27px;
}
.text-container{
    text-align: center;
    margin-top: 25px;
}
.text1 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    letter-spacing: -3px;
}
.text2 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 28px; /* 155.556% */
    margin-top: 8px;
}
.shopnow{
    margin: 0 auto;
    display: block;
    background-color: black;
    border: none;
    border-radius: 15px;
    width: 195px;
    height: 50px;   
    margin-top: 35px;
}
.shopnow h2{
    color: white;

    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 28px; /* 155.556% */
}