*{
    box-sizing: border-box;
}
body{
    background-color: pink;
    font-family: 'Inter', sans-serif;
}
.container{
    width: 360px;
    margin: 100px auto;
    border-radius: 20px;
    background: #FFF;
    padding: 56px 20px 91px 28px;
    margin: auto;
}
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

  button{
    background-color: #FFF;
    border: none;
}
h1{
    color: #000;
    font-size: 32px;
    font-style: normal;
}
.menu-items{
    padding: 0 4px;
}
input{
    border-radius: 12px;
    background-color: #EFEFEF;
    width: 316px;
    height: 44px;
    border: none;
}
.menu-position h4{
 color: #C4C4C4;
 text-align: center;
}
.img-position{
    width: 74px;
    height: 74px;
    border-radius: 12px;
    background: #EFEFEF;
}
.menu-position{
    display: inline-block;
    margin: 10px;

}
.menu-position:hover .img-position{
    background-color: #EAE2B7;
}
.menu-position:hover h4{
    color: black;
}
.img-position{
    padding: 18px 19px 46px 18px;
}
h2{
    color: #003049;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.burger-position{
    width: 316px;
    height: 88px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px #E5E5E5;
    margin: 12px 0;
    padding: 6px 13.5px;
 }
.burger-price{
    color: #D62828;
font-size: 14px;
font-style: normal;
margin-top: 4px;
}
.burger-title{
    color: #003049;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-bottom: 4px;
}
.menu-burger{
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}